@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header {
    background: #1b2a4e;
}

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: "Segoe script", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 100px;
    height: 40px;
    border-radius: 10%;
    overflow: hidden;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

.carousel-inner {
    height: 100% !important;
    border-radius: 2%;
    width: 99% !important;
    margin: auto;
}

.imagen-carrusel {
    height: 700px;
    margin: auto;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

#intro li>a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: "Segoe script", Tahoma, Geneva, Verdana, sans-serif;
}

#texto {
    text-align: left;
}

#txt1 {
    color: #1b2a4e;
    font-family: cursive;
}

.txt2 {
    color: #1b2a4e;
    text-align: justify;
}

.imagen {
    display: block;
    margin: auto;
    width: 380px;
    height: 160px;
}

@media (max-width: 768px) {
    #intro {
        width: 70% !important;
    }
    .carousel-inner {
        max-height: 20em;
    }
    .about-fila {
        width: 100% !important;
        text-align: center;
    }
    .imagen {
        display: block;
        margin: auto;
        width: 380px;
        height: 160px;
        border-radius: 2%;
    }
    .imagen-carrusel {
        height: 100%;
        margin: auto;
    }
    .carousel-inner {
        height: 100% !important;
        border-radius: 2%;
        width: 98% !important;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .imagen {
        width: 320px;
        height: 160px;
        border-radius: 2%;
        display: block;
        margin: auto;
    }
    .imagen-carrusel {
        height: 200px !important;
        margin: auto;
    }
    .carousel-inner {
        height: 100% !important;
        border-radius: 2%;
        width: 98% !important;
    }
}

@media (max-width: 1200px) {
    .imagen {
        display: block;
        margin: auto;
        width: 355px;
        height: 160px;
        border-radius: 2%;
    }
    .imagen-carrusel {
        height: 100%;
        margin: auto;
    }
    .carousel-inner {
        height: 100% !important;
        border-radius: 2%;
        width: 98% !important;
        margin: auto;
    }
}

@media (max-widt: 20000px) {
    .imagen {
        display: block;
        margin: auto;
        width: 355px;
        height: 160px;
        border-radius: 2%;
    }
    .imagen-carrusel {
        height: 100%;
        margin: auto;
    }
    .carousel-inner {
        height: 100% !important;
        border-radius: 2%;
        width: 98% !important;
        margin: auto;
    }
}